@import url(https://fonts.googleapis.com/css?family=Open+Sans);

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
   font-family: 'Open Sans', sans-serif;
   --light-color: #047aed;
   --sub-color: #00063d;
   --white: #FFFFFF;
   --dark: #202124;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
.dark{
    font-family: 'Open Sans', sans-serif;
    --light-color: #060e5a;
    --sub-color: #047aed;
    --white: #202124;
    --dark: #202124;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
.navbar{
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--light-color);
    padding-right: 40px;
    overflow: auto;
}
.nav-links{
    display: flex;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
}
.nav-links a{
    padding: 10px;
    margin: 5px;
    text-decoration: none;
    color: white;
    font-size: 16px;
}
.settings{
    overflow: hidden;
}
.settings .drop-button{
    font-size: 16px;
    color: white;
    border: none;
    outline: none;
    background-color: inherit;
    font-family: inherit;
    padding: 10px;
}
.settings-dropdown{
    display: none;
    position: absolute;
    background-color: var(--light-color);
    min-width: 120px;
}
    .settings-dropdown button{
        color: white;
        display: block;
        display: block;
        border: 5px solid var(--sub-color);
        background-color: var(--light-color);
        padding: 10px;
        font-family: inherit;
        font-size: 16px;
    }
.settings-dropdown button:hover{
    text-decoration: underline;
    background: var(--sub-color);
}
.settings:hover .settings-dropdown {display: block;}
.nav-links a:hover, button:hover{
    text-decoration: underline;
}

.logo{
    background: white;
    height: 55px;
    border: 3px solid var(--sub-color);
    border-radius: 10%;
    margin-left: 50px;
}

.first-back{
    background: var(--light-color);
    display: flex;
    color: black;
    padding: 100px;
    justify-content: center;
}

.welcome{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    border-radius: 180px;
    padding: 0px 30px;
    width: 500px;
}
.selfie{
    height: 300px;
    width: 300px;
    margin-left: 40px;
    border-radius: 50%;
    box-shadow: 10px 5px 9px var(--sub-color);
}

h1{
    padding-bottom: 20px;
}

.welcome p{
    font-size: 20px;
}
.contact-back{
    display: flex;
    flex-direction: row;
    padding: 50px 30px;
    background-color: var(--white);
    justify-content: space-around;
    align-items: center;
    flex: 1;
}
.contact-button button{
    background-color: var(--light-color);
    color: white;
    padding: 20px;
    border: none;
    border-radius: 24px;
    width: 140px;
    font-size: 16px;
    animation-name: shrink;
    animation-duration: 1s;
}

footer{
    background-color: var(--sub-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding: 20px;
}

footer a{
    text-decoration: none;
    color: white;
    font-size: 16px;
}
footer a:hover{
    color: rgb(255, 221, 157);
    text-decoration: underline;
}

.contact-button button:hover{
    animation-name: grow;
    animation-duration: 2s;
    animation-fill-mode: both;
}
@keyframes grow{
    from {width: 140px;}
    to{width: 340px;}
}
@keyframes shrink{
    from{width: 340px;}
    to{width: 140px;}
}